.footer {
    /*  display: flex;
    flex-direction: column;
    justify-content: center;*/
    /*    position: absolute;*/

    bottom: 0;
    
    /* margin-top: 10px;*/
    padding-top: 10px;
    background: #325f53;
    color: #ffffff;
}

    .footer .footer-contact,
    .footer .footer-link {
        position: relative;
        margin-bottom: 10px;
    }

    .footer h2 {
        position: relative;
        /margin-bottom: 20px;
        / padding-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #fdbe33;
    }

        .footer h2::after {
            position: absolute;
            content: "";
            width: 60px;
            height: 2px;
            left: 0;
            bottom: 0;
            background: #fdbe33;
        }

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

    .footer .footer-link a::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }

    .footer .footer-link a:hover {
        color: #fdbe33;
        letter-spacing: 1px;
    }

.footer .footer-contact p svg {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    gap: 2px;
}

    .footer .footer-social a {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 4px 0;
        text-align: center;
        border-radius: 60px;
        transition: .3s;
        gap: 5px;
        margin-right: 10px;
        color: white;
    }

        .footer .footer-social a svg {
            font-size: 15px;
            color: #FFF7D4;
        }



        .footer .footer-social a:hover {
            background: #fdbe33;
            border-color: #fdbe33;
        }

        .footer .footer-social a svg:hover {
            color: #000;
        }



.footer .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

    .footer .footer-menu .f-menu a:hover {
        color: #fdbe33;
    }

    .footer .footer-menu .f-menu a:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }


.footer .copyright {
    padding: 15px 15px;
}


    .footer .copyright p a {
        color: #fdbe33;
        font-weight: 500;
        letter-spacing: 1px;
    }

        .footer .copyright p a:hover {
            color: #ffffff;
        }

@media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}
