
<head>
    <link rel="stylesheet" href="~/css/Search.css" />
</head>


<div class="containerr">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-6">

            <div class="form">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101" id="search" height="30" width="30" class="fa-search"><path d="M63.3 59.9c3.8-4.6 6.2-10.5 6.2-17 0-14.6-11.9-26.5-26.5-26.5S16.5 28.3 16.5 42.9 28.4 69.4 43 69.4c6.4 0 12.4-2.3 17-6.2l20.6 20.6c.5.5 1.1.7 1.7.7.6 0 1.2-.2 1.7-.7.9-.9.9-2.5 0-3.4L63.3 59.9zm-20.4 4.7c-12 0-21.7-9.7-21.7-21.7s9.7-21.7 21.7-21.7 21.7 9.7 21.7 21.7-9.7 21.7-21.7 21.7z"></path></svg>
                <input type="text" class="form-control form-input" placeholder="Search anything...">
                <span class="left-pan"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="microphone" height="30" width="30"><path d="M26,15a1,1,0,0,0-1,1A9,9,0,0,1,7,16a1,1,0,0,0-2,0A11,11,0,0,0,15,27V30a1,1,0,0,0,2,0V27A11,11,0,0,0,27,16,1,1,0,0,0,26,15Z"></path><path d="M16,21a6,6,0,0,0,6-6V7A6,6,0,0,0,10,7v8A6,6,0,0,0,16,21Z"></path></svg></span>
            </div>

        </div>

    </div>

</div>