
<br />

<br />

<div class="container row">

    <div class="col-12 text-center">

        <h2 class="text-primary text-center">Order Placed Successfully!</h2>
        <br /><br />

        <img src="~/Images/successIMG.jpeg" width="25%" />

    </div>

    <h3 class="col-12 text-center" style="color:darkred">
        <br />

        Thank You for Shopping with Us. Please Visit Again !!! <br />
    </h3>

</div>
